{% extends "portal/base.html" %}

{% block content %}

{% load static %}

<form id="contact-form" name="contact-form" action="{% url 'contacto' %}" method="POST" class="Formulario">

    {% csrf_token %}


    {{ contacto_form.as_p }}
    <br>
    
    <input type="submit" class="Formulario" value="Enviar">


        
   <!-- <section class="arriba">

        <div class="texto">
            
                <h1>Contacto</h1>
                <h2>Si tenés alguna duda o sugerencia, dejanos tu mensaje</h2>
       
       </div>

    </section>

    <section>

        <form action="https://formspree.io/f/mdojwbye" method="POST" id="form" class="Formulario" onsubmit="return validar ();">
 
            <h1 class="Formulario_Título">Contáctenos</h1>
         
           
            <input type="text" id="Name" name="Name" class="Formulario_input" required>
            <label for="Name" class="Formulario_label">Nombre</label>
         
           
            <input type="text" id= "LastName" name="LastName" class="Formulario_input" required>
            <label for="LastName" class="Formulario_label">Apellido</label>
         
         
            <input type="email" id="EmailDeContacto" name="EmailDeContacto" class="Formulario_input" required>
            <label for="EmailDeContacto" class="Formulario_label">Email de contacto</label>

            <input type="text" id="Asunto" name="Asunto" class="Formulario_input" required>
    <label for="Asunto" class="Formulario_label">Asunto</label>
 
    <b><label for="1" class="Select_label">Seleccione Especialidad</label></b><br><br>
    <select name="Especialidades" id="1" class="Select">
        <option value="">Clínica</option>
        <option value="">Laboratorio</option>
        <option value="">Cardiología</option>
        <option value="">Cirugía</option>
        <option value="">Oncología</option>
        <option value="">Neurología</option>
    </select>
  <br><br><br>
    <input type="text" id="Comentario" name="Comentario" class="Formulario_input" required>
    <label for="Comentario" class="Formulario_label">Deje su comentario</label>
 
    
 
 
</form>


    </section>

        </div>
    </main>\--> 

    
</form>

<script src="app.js"></script>

{% endblock %}

  