{% extends "portal/base.html" %}

{% block content %}

{% load static %}

<main>
    <section class="arriba">

        <div class="texto">
            
                <h1>Contacto</h1>
                <h2>Si tenés alguna duda o sugerencia, dejanos tu mensaje</h2>
       
       </div>
    </section>

    <div class="FormDiv">
        <form id="contact-form" name="contact-form" action="{% url 'contacto' %}" method="POST" class="Formulario">

            <h1 class="Formulario_Título">Contáctenos</h1>
        
            {% csrf_token %}
        
        
            {{ contacto_form.as_p }}
            <br>
            
            <input type="submit" class="Formulario" value="Enviar">
        </form>
    </div>
    
  
</main>





<script src="app.js"></script>

{% endblock %}

  