{% extends "logueo/base.html" %}

{% block content %}


<button><a href="{% url 'nuevoCliente' %}">Datos Cliente</a></button>
<button><a href="{% url 'mascotas' %}">Nueva mascota</a></button>


<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Raza</td>
            <td>Edad</td>
            <td>Tamaño</td>            
            <td>Cliente</td>
            <td>Acciones</td>
        </tr>
    </thead>

    <tbody>
        {% if object_list %}
        {% for mascotas in object_list %}

        <tr>
            <td>{{ mascotas.id }}</td>
            <td>{{ mascotas.nombre }}</td>
            <td>{{ mascotas.raza }}</td>
            <td>{{ mascotas.edad }}</td>
            <td>{{ mascotas.tamanio }}</td>
            <td>{{ mascotas.cliente.nombre }} {{ mascotas.cliente.apellido }}</td>

            <td>

                <a href="{% url 'mascotas_editar' mascotas.id %}">Editar</a>
                <a href="{% url 'mascotas_eliminar' mascotas.id %}">Eliminar</a>
                
            </td>



        </tr>
        {% endfor %}

        {% else %}
        <h2>No hay datos ingresados</h2>

        {% endif %}


    </tbody>



</table>





{% endblock %}