{% extends "logueo/base.html" %}

{% block content %}


<main class="login-main">

    {% if user.is_authenticated %}

    
        <div class="container">


            {{error}}
            <section style="display: flex;">
                <div style="width: 33%;"></div>
                <div style="width: 33%;">
                    
                    <br>
                    <h2>Nueva Mascota</h2>
                    <form method="POST">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="d-grid gap-2 .col-3">
                            <button type="submit" class="btn btn-warning">Guardar</button>
                            <a class="btn btn-success" href="{% url 'mascotas_list'%}">Cancelar</a>   
                        </div>


                         
                    </form>

                </div>

                
                <div style="width: 33%;"></div>
            </section>


        </div>

    {% else %}
        <h1>No iniciaste sesión o no te registraste</h1><br>
        <button><a href="{% url 'login' %}">Iniciar Sesión</a></button>
        <button><a href="{% url 'registro' %}">Registrarse</a></button>

    {% endif %}
</main>





{% endblock %}