{% extends "logueo/base.html" %}

{% block content %}

<main class="login-main">
    {% if user.is_authenticated %}
    
        <div class="container">
            <h3 style="color: violet;">{{error}}</h3>
            <section style="display: flex;">
                <div style="width: 33%;"></div>
                <div style="width: 33%;">
                    <h1>Solicitar un turno</h1>
                    <br>
                    
                    <br>
                    <form method="POST">
                        {% csrf_token %}

                        {{ form1.as_p }}                                             
                        
                        <p>
                            <label  for="date">Día</label>
                            <input class="form-control" type="date" name="date" id="date">
                        </p>
                        <p>
                            <label  for="Comentario">Deje su comentario</label>
                            <textarea class="form-control" rows="10"></textarea>
                                                 
                        </p>

                        <div class="d-grid gap-2 .col-3">
                            <button class="btn btn-warning" type="submit">Solicitar</button>
                            <a class="btn btn-success" href="{% url 'mascotas_list'%}">Cancelar</a>
                            

                        </div>
                        

                      
                    </form>
                </div>
                <div style="width: 33%;"></div>
            </section>
        </div>

    {% else %}
        <h1>No iniciaste sesión o no te registraste</h1><br>
        <button><a href="{% url 'login' %}">Iniciar Sesión</a></button>
        <button><a href="{% url 'registro' %}">Registrarse</a></button>

    {% endif %}
</main>

{% endblock %}