{% extends "logueo/base.html" %}

{% block content %}


<main class="login-main">

    {% if user.is_authenticated %}

    
        <div>


            {{error}}
            <section style="display: flex;">
                <div style="width: 33%;"></div>
                <div style="width: 33%;">
                    <h1>Solicitar un turno</h1>
                    <br>
                    <form method="POST">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit">Solicitar</button>
                    </form>
                </div>
                <div style="width: 33%;"></div>
            </section>


        </div>

    {% else %}
        <h1>No iniciaste sesión o no te registraste</h1><br>
        <button><a href="{% url 'login' %}">Iniciar Sesión</a></button>
        <button><a href="{% url 'registro' %}">Registrarse</a></button>

    {% endif %}
</main>





{% endblock %}