{% extends "base.html" %}

{% block content %}
{% load static %}
 
        <section class="arriba">
  
          <div class="texto">
            <h1>Adopciones</h1>
            <h2>Hay muchos animales que no tienen un hogar, dales la oportunidad</h2>
          </div>
  
        </section>
  
        
        <section class="container-grid">
          
        <div class="contenido">
          <h2> Ellos también merecen una familia</h2>
  
        </div>
  
        <div class="div2">
          <img class="card perros" src="{% static 'IMG/PALMA.jpg' %}" alt="Palma">
  
          <div class="card caracteristicas"> 
            <h2>PALMA</h2> 
              <P>Siempre dispuesta a pasear</P>
              <p>Automáticamente levanta todas las migas del piso</p>
              <p>Muy tranquila y cariñosa</p>
  
          </div>
            
          <div><h3 class="nombre">PALMA</h3></div>
        
        </div>
         
       
  
        <div class="div2">
          <img class="card perros" src="{% static 'IMG/michael-g-1mF2PVkIZSw-unsplash (2).jpg' %}" alt="Bronco">
          <div class="card caracteristicas"> 
            <h2>BRONCO</h2>
            <P>Tremendamente leal</P>
            <p>Lo único que necesita es una buena cama donde dormir</p>
            <p>Se lleva bien con todos</p>
  
          </div>
          
          <div><h3 class="nombre">BRONCO</h3></div>
       
        </div>
  
        <div class="div2">
          <img class="card perros" src="{% static 'IMG/TORO.jpg' %}" alt="Toro">
          <div class="card caracteristicas">
            <h2>TORO</h2>
            <P>Le encanta recibir invitados</P>
            <p>Se despierta todas las mañanas de buen humor</p>
            <p>Núnca se cansa de dar besos</p>
          </div>
          
          <div><h3 class="nombre">TORO</h3></div>
  
        </div>
  
        <div class="div2">
          <img class="card perros" src="{% static 'IMG/michael-g-1Y01GXe8TIM-unsplash-min.jpg' %}" alt="Charly">
          <div class="card caracteristicas"> 
            <h2>CHARLY</h2>
              <P>Juguetón</P>
              <p>Loco por las pelotas</p>
              <p>Muy sociable</p>
  
          </div>
  
          <div><h3 class="nombre">CHARLY</h3></div>
        </div>
  
        <div class="div2">
          <img class="card perros" src="{% static 'IMG/LUCY.jpg' %}" alt="Lucy">
          <div class="card caracteristicas"> 
          <h2>LUCY</h2>
          <P>Le encanta tirarse a tomar sol</P>
          <p>Nada la perturba</p>
          <p>Se lleva bien con chicos</p>
       
          </div>
  
          <div><h3 class="nombre">LUCY</h3></div>
  
      </div>
  
       
  
        <div class="div2">
          <img class="card perros" src="{% static 'IMG/PONCHO.jpg' %}" alt="Poncho">  <div class="card caracteristicas"> 
            <h2>PONCHO</h2>
            <P>Tamaño mini</P>
            <p>Le encanta viajar en auto</p>
            <p>No pierde pelo</p>
            </div>
  
            <div><h3 class="nombre">PONCHO</h3></div>
  
  
        </div>
  
        <div class="contenido">
          <h3>Si querés adoptar a alguno de ellos o querés recibir más información, comunicate con El Campito Refugio </h3> 
          <a href="https://www.elcampitorefugio.org/" target="_blank"><img src="{% static 'IMG/elcampitologo.png' %}" alt=""></a>
          
        </div>
  
        </section>
       
      </main>

      {% endblock %}


    