<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Assets/icono.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="CSS/style.css"> -->
    
    {% load static %}
    <link type="text/css" rel="stylesheet" href={% static "CSS/style.css" %}>

    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="menu-navegacion container">
            <div class="logo">
                <a href="{% url 'inicio' %}">{% load static %}
                    <img src="{% static 'IMG/LogoVet.png' %}" alt="LogoNuevaVersion">
                </a>
                
            </div>
    
            <div class="enlaces">
    
                <ul>
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'servicios' %}">Servicios</a></li>
                    <li><a href="adopciones.html">Adopciones</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div>

        <section class="foto-perros">
  
                <img src="{% static 'IMG/WhatsApp Image 2022-10-22 at 12.17.43.png' %}" alt="Logowhatsapp">
       
        </section>

        {% block content %}{% endblock %}


        <section class="abajo">
            
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.684028818679!2d-58.4171814854352!3d-34.58686078046384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb57fd6b1099f%3A0x8f397e5b3fa64ad8!2sJuli%C3%A1n%20%C3%81lvarez%202456%2C%20C1425%20CABA!5e0!3m2!1ses!2sar!4v1665864283904!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div id="encima">
             
                    <h3>Dirección</h3>
                    <p>Julián Alvarez 2456</p>
                    <h3>Horarios</h3>
                    <p>Lu a Vie de 10 a 18 hs</p>
 
            </div>

        </section>

        </div>
     </main>
   
    <footer>
        
            <div  class="menu-navegacion container">
                
                <div class="pagos">
                    <h3>Medios de pago</h3>

                    <img src="{% static 'IMG/simbolos.png' %}" alt="">
                    <img class="mp" src="{% static 'IMG/mercado pago.png' %}" alt="">
                   
                    
                </div>

                <div class="perritos">
                    <img src="{% static 'IMG/2008.i126.001.P.m005.c33.pets growth stages set.jpg' %}" alt="">
                </div>

            

                <div class="redes-sociales">
                    <a href="https:wwwa.facebook.com/" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
                    <a href="https:www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https:www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>    
                </div>
        
       
   
    </footer>
    <script src="https://kit.fontawesome.com/bb997cbe6f.js" crossorigin="anonymous"></script>

    
</body>
</html>