{% extends "base.html" %}

{% block content %}
    {% load static %}
        <section class="arriba">

            <div class="texto">
                
                    <h1>Clínica Veterinaria Animalis</h1>
                    <h2>Atención veterinaria de primer nivel</h2>
                    <h3>Comprometidos con la salud y el bienestar de tu mascota</h3>
                    

            </div>

        </section>

        <section class="card1">

            <div class="info1">

                <div class="info-nombre">
                    
                    <a href="/servicios.html"><img src="{% static 'IMG/adorable-kitty-with-monochrome-wall-behind-her.jpg' %}" alt=""></a>
                </div>
              
                <div class="info-texto">
                    <h2>Conocé nuestros servicios</h2>
              
                </div>
            </div>

            <div class="info2">

                
                <div class="info-nombre">
                    <a href="/adopciones.html"><img src="{% static 'IMG/adorable-brown-white-basenji-dog-smiling-giving-high-five-isolated-white (2).jpg' %}" alt=""></a>
                </div>
              
                <div class="info-texto">
                    <h2>Si querés adoptar</h2>
          
                </div>

            </div>

            <div class="info3">
                <div class="info-nombre">
                    <a href="/contacto.html"><img src="{% static 'IMG/cute-little-dog-impersonating-business-person.jpg' %}" alt=""></a>
                    
                </div>
               
                <div class="info-texto">
                    <h2>Contactate con nosotros</h2>
     
                </div>

            </div>

        </section>

       <section class="medio">

             <div class="titulo">
                    <h2>Ellos han hablado de nosotros</h2>
                    <h3>Conocé algunas opiniones aqui</h3>
                    <p>>></p>

             </div>

             <div class="carrousel">

                <ul>
                    <li><img src="{% static 'IMG/Testimonio1.jpg' %}" alt=""></li>
                    <li><img src="{% static 'IMG/Testimonio2.jpg' %}" alt=""></li>
                    <li><img src="{% static 'IMG/Testimonio3.jpg' %}" alt=""></li>
                    <li><img src="{% static 'IMG/Testimonio4.jpg' %}" alt=""></li>
                    <li><img src="{% static 'IMG/Testimonio5.jpg' %}" alt=""></li>
                    <li><img src="{% static 'IMG/Testimonio6.jpg' %}" alt=""></li>
                  
                </ul>


            </div>

        </section>
        
{% endblock %}