
    {% extends "base.html" %}

    {% block content %}

    {% load static %}

    

    <section class="content servicios">
        <h2 class="title-servicios">Servicios</h2>
        <p>
            Contamos con excelentes programas de medicina preventiva como es la aplicación de vacunas para perros y gatos de los laboratorios más reconocidos y con los distribuidores del ramo que se han destacado por el mantenimiento de la cadena fría para que los biológicos al ser aplicados a su mascota se encuentren en perfectas condiciones.
        </p>

    </section>

    <div class="box-container">
        <div class="box">
            <i class="fa-solid fa-shield-dog"></i>
            <h3>Tu mascota es nuestra prioridad</h3>
        </div>
        <div class="box">
            <i class="fa-solid fa-briefcase-medical"></i>
            <h3>Atención personalizada</h3>
            <h3>24 hs</h3>
        </div>
        <div class="box">
            <i class="fa-solid fa-pills"></i>
            <h3>Medicación necesaria para tu mascota</h3>
        </div>
    </div>

    <section class="content nosotros">
        <h2 class="title-nosotros">Nosotros</h2>
        <p>Contamos con médicos veterinarios expertos en diferentes disciplinas y con la metodología necesaria para llegar a los diagnósticos que permitirán enfocar los tratamientos de manera eficiente y oportuna.</p>

        <a href="{% url 'contacto' %}" class="boton-nosotros">Saber más</a>

    </section>

    <section class="content adoption">

               
            <h2 class="title-adopciones">Adopciones</h2>
            <p class="text-adopciones"> ¿Estás interesado en adoptar? Comunicate con nosotros!</p>
            <a href="{% url 'adopciones' %}" class="boton-adopciones"> Me interesa <i class="fa-sharp fa-solid fa-heart"></i> </a>
 
    </section>

    {% endblock %}

