{% extends "portal/base.html" %}

{% block content %}

<!--                https://codigofacilito.com/articulos/django-user-model                        -->



<main class="login-main">
    <div>
        <h1>inicio sesion</h1>

        {{error}}
        <form class="Formulario" name="login" action="{% url 'login' %}" method="POST" >            
            {% csrf_token %}
            {{form.as_p}}
            <!-- <label class="usuario" for="usuario">Usuario</label>
            <input type="text" name="usuario">

            <label for="usuario">Contraseña</label>
            <input type="password" name="contrasenia"> -->     
            <input type="submit" value="Ingresar" >
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </form>
    </div>
    <div>
        <!-- <form class="Formulario" name="registro" action="{% url 'registro' %}" method="POST" >
        
            {% csrf_token %}

            <h3>¿No estas registrado? Hacelo aquí</h3>
            <input type="submit" value="Resgitrarse" > 
            
        </form> -->
        <h3>¿No estas registrado? Hacelo aquí</h3>
        <button><a href="{% url 'registro' %}">Registrarse</a></button>

    </div>
</main> 


{% endblock %}